# Jupyter Notebook specific
.ipynb_checkpoints/
*.DS_Store

# Common Python artifacts
__pycache__/
*.pyc
*.pyo


# output files
nino.npy
nino34data.npz
np_practice_nino34.csv
random_numbers.npy
year.npy
weather_*.csv
